/* -------------------------------------------------------------------
  default colors
------------------------------------------------------------------- */

$color-base: #ffffff;
$color-main: #7cc325;
$color-text: #231815;
$color-border: #eeeeee;
$color-accent: #c32525;
$color-background: #ebf3f9;

/* -------------------------------------------------------------------
  default web-font
------------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;500&family=Zen+Old+Mincho:wght@500&display=swap");
$font-title:
  "Zen Old Mincho", "游明朝", "Yu Mincho", "游明朝体", YuMincho,
  "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
  "ＭＳ Ｐ明朝", "MS PMincho", serif;

/* -------------------------------------------------------------------
  default spacing
------------------------------------------------------------------- */

$high: 20;
$middle: 60;
$low: 30;
$high-sp: 15;
$middle-sp: 30;
$low-sp: 30;

/* -------------------------------------------------------------------
  hover anitionの適用（～xまで）
------------------------------------------------------------------- */

$animation-width: 600px;

/* -------------------------------------------------------------------
  default font-size
------------------------------------------------------------------- */

$font-size-base: 15;
